
.out{
    display: flex;
    align-items: center;
    flex-flow: column;
    margin-top: 0;
    height: 30vh;
    padding:3vw
}
h1{
    font-size: 5em;
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-family: "Sanchez", serif;
    padding: 3vw;
    line-height: 1.4;
}

@media (max-width: 768px){
    h1{
        font-size: 3em;
    }
}