.out {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-top: 0;
  height: 20vh;
  padding: 3vw;
  
  
}

.image {
  background-image: url("https://images.pexels.com/photos/733857/pexels-photo-733857.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-size: cover; 
  background-position: center; 
  text-align: center; 
  width: 83vw;
}

h1 {
  font-size: 5em;
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-family: "Sanchez", serif;
  padding: 3vw;
  line-height: 1.4;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3em;
  }

  .out {
    height: 10vh;
  }
}
