.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  * {
    line-height: 1.4;
  }
  flex-flow: row wrap;
}
.menutoggle {
  display: none;
  flex-flow: column;
  height: fit-content;
  background-color: #F5F5F5;

}
a {
  color: rgb(132, 126, 126);
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 600;
  padding: 1vw;
  transition: 0.3s;
  &:hover {
    color: aliceblue;
  }
}

.logo-image {
  width: 100px;
  height: 50px;
}

.phone-menu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  mat-icon {
    margin-right: 20px;
  }
}

@media screen and (max-width: 950px) {
  .menutoggle {
    display: flex;
  }
  .youpi {
    display: none;
  }
}