<form [formGroup]="journalForm" (ngSubmit)="onSubmit()" class="container">
  <mat-card>
    <mat-card-content class="card-content">
      <div class="title-and-privacy">
        <mat-form-field class="title-field" appearance="fill">
          <input
            matInput
            placeholder="Enter Title"
            formControlName="title"
            class="title-input"
            required
          />
        </mat-form-field>
        <mat-form-field class="title-field" appearance="fill">
          <input matInput placeholder="Enter Mood" formControlName="mood" />
        </mat-form-field>
        <mat-radio-group
          class="privacy-options"
          aria-label="Select privacy"
          formControlName="privacy"
        >
          <mat-radio-button value="Private">Private</mat-radio-button>
          <mat-radio-button value="Public">Public</mat-radio-button>
        </mat-radio-group>
      </div>
      <hr />
      <mat-form-field class="entry-field" appearance="fill">
        <textarea
          matInput
          placeholder="Jot down your entry here..."
          formControlName="entry"
          class="entry-input"
          required
        ></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button
        mat-raised-button
        color="primary"
        class="save-button"
        type="submit"
      >
        Save
      </button>
    </mat-card-actions>
  </mat-card>
</form>
<div class="loading-indicator" *ngIf="uploading">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
