<div class="my-journal-cards">
    <mat-card id="individual-journal-card">
        <mat-card-header class="header-with-button">
            <mat-card-title id="title" class="text">Journal Title</mat-card-title>
            <mat-card-subtitle class="text">Date</mat-card-subtitle>
            <button mat-flat-button color="primary">Edit</button>
        </mat-card-header>
        <mat-card-content>
            <br>
            <p class="text">CONTENT</p>
        </mat-card-content>
    
    </mat-card>
</div>

