.my-journal-cards {
  margin: auto;
  width: 85vw;
  padding: 20px;
}

mat-card {
  margin: 20px;
}

#individual-journal-card {
  background-color: #f4f0e8;
}

.header-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
    font-size: 2em;
    color: #301DAD;
    font-family: "Sanchez", serif;
}

.text {
  font-family: "Sanchez", serif;
}

.buttons button {
  margin-right: 10px; 
}