.my-journal-cards{
    margin:auto;
    width: 95%;
    padding: 20px;
}

#individual-journal-card{
    background-color: #F4F0E8;
}

.header-with-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title{
    color: #301DAD;
}

.text{
    font-family: "Sanchez", serif;
}