.my-journal-cards{
    margin:auto;
    width: 90%;
    padding: 20px;
}

#individual-journal-card{
    background-color: #F4F0E8;
}

.header-with-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}