<div class="my-journal-cards">
  <mat-card *ngFor="let journal of myJournal" id="individual-journal-card">
    <mat-card-header class="header-with-button">
      <mat-card-title id="title" class="text">{{
        journal.Title
      }}</mat-card-title>
      <mat-card-subtitle *ngIf="!isFromLanding" class="text"
        ><h1>{{ journal.Privacy }}</h1></mat-card-subtitle
      >
      <mat-card-subtitle *ngIf="isFromLanding" class="text">{{
        journal.Email
      }}</mat-card-subtitle>
      <mat-card-subtitle class="text">{{ journal.Mood }}</mat-card-subtitle>
      <mat-card-subtitle class="text">{{
        journal.Date | date : "yyyy-MM-dd"
      }}</mat-card-subtitle>
      <div class="buttons">
        <!--Edit Button-->
        <button
          *ngIf="!isFromLanding"
          mat-flat-button
          color="primary"
          (click)="editJournal(journal)"
        >
          Edit
        </button>
        <!--Delete Button-->
        <button 
          *ngIf="!isFromLanding"
          mat-fab 
          color="warn" 
          (click)="deleteJournal(journal)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <br />
      <p class="text">{{ journal.Message }}</p>
    </mat-card-content>
  </mat-card>
</div>
